@charset "utf-8";


@font-face {
  font-family: "List Icon";
  src: url("../material/font/2.eot?16498700");
  src: url("../material/font/2.eot?16498700#iefix") format("embedded-opentype"),
       url("../material/font/2.woff2?16498700") format("woff2"),
       url("../material/font/2.woff?16498700") format("woff"),
       url("../material/font/2.ttf?16498700") format("truetype"),
       url("../material/font/2.svg?16498700#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/3.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/4.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/5.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6g.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/6.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaGrEBBsBhlBjvfkSpa4r3Owp4.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 98%);
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

div.content {
  margin: 40px 0px 40px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

div.content div.main {
  width: 700px;
  margin: 0px 40px 0px 20px;
  padding: 0px 0px;
  flex: 0 0 700px;
}

div.content div.main div.question {
  margin: 0px 0px 25px 0px;
  padding: 0px;
}

div.content div.main div.question div.english {
  width: 580px;
  height: 200px;
  margin: 0px 0px 25px 0px;
  padding: 0px 60px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.content div.main div.question div.english div.word {
  margin: 0px;
  padding: 0px;
  font: 700 64px "Alegreya";
  color: hsl(240, 60%, 60%);
  line-height: 1;
}

div.content div.main div.question div.english div.pronunciation {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  font: 18px "Times New Roman", "Times";
  color: hsl(240, 60%, 60%);
  line-height: 1;
}

div.content div.main div.question div.japanese {
  width: 580px;
  height: 100px;
  margin: 0px 0px 0px 0px;
  padding: 0px 60px;
  font: 24px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: hsl(240, 60%, 60%);
  text-align: center;
  line-height: 1.2;
  border-radius: 30px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.content div.main div.question div.arrow {
  width: 0px;
  height: 0px;
  margin: 0px auto -5px auto;
  border-top: 30px hsl(240, 60%, 60%) solid;
  border-right: 50px transparent solid;
  border-bottom: 30px transparent solid;
  border-left: 50px transparent solid;
}

div.content div.main div.radio {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

div.content div.main div.radio input[type="radio"] {
  display: none;
}

div.content div.main div.radio input[type="radio"] +label {
  margin: 0px;
  padding: 0px 0px 0px 18px;
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.5;
  position: relative;
}

div.content div.main div.radio input[type="radio"] +label::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.main div.radio input[type="radio"]:checked +label::after {
  width: 7px;
  height: 7px;
  background: hsl(240, 60%, 60%);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.main div.radio input[type="checkbox"] {
  display: none;
}

div.content div.main div.radio input[type="checkbox"] +label {
  margin: 0px;
  padding: 0px 0px 0px 18px;
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.5;
  position: relative;
}

div.content div.main div.radio input[type="checkbox"] +label::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.main div.radio input[type="checkbox"]:checked +label::after {
  width: 4px;
  height: 8px;
  border-bottom: 2px hsl(240, 60%, 60%) solid;
  border-right: 2px hsl(240, 60%, 60%) solid;
  transform: rotate(40deg);
  top: 2px;
  left: 4px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.main div.button {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

div.content div.main div.button input[type="button"],
div.content div.main div.upload input[type="button"],
div.content div.main div.upload label {
  width: 100px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: white;
  line-height: 32px;
  background-color: hsl(240, 60%, 60%);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 8px 0px hsla(240, 80%, 40%, 0.2);
  cursor: pointer;
  outline: none;
  display: inline-block;
}

div.content div.main div.button input[type="button"].red {
  background-color: hsl(330, 60%, 60%);
  box-shadow: 0px 4px 8px 0px hsla(330, 80%, 40%, 0.2);
}

div.content div.main div.button input[type="button"].green {
  background-color: hsl(120, 50%, 45%);
  box-shadow: 0px 4px 8px 0px hsla(120, 33%, 30%, 0.2);
}

div.content div.main div.button input[type="button"].left {
  margin: 0px 3px 0px 0px;
  border-radius: 100px 0px 0px 100px;
}

div.content div.main div.button input[type="button"].right {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 100px 100px 0px;
}

div.content div.main div.button input[type="button"].middle {
  margin: 0px 3px 0px 0px;
  border-radius: 0px;
}

div.content div.main div.button input[type="button"].small {
  width: 50px;
}

div.content div.main div.button input[type="button"].icon {
  font: 400 18px "List Icon";
}

div.content div.main div.upload {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div.content div.main div.upload input[type="file"] {
  display: none;
}

div.content div.left {
  width: 100px;
  margin: 0px 20px 0px 40px;
  padding: 0px 0px;
  flex: 0 0 100px;
}

div.content div.left div.number {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  border-radius: 100px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
}

div.content div.left div.number div.numerator {
  width: 70px;
  height: 65px;
  margin: 0px auto;
  padding: 0px;
  font: italic 700 48px "Alegreya";
  color: hsl(240, 60%, 60%);
  line-height: 75px;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
}

div.content div.left div.number div.denominator {
  width: 70px;
  height: 35px;
  margin: 0px auto;
  padding: 0px;
  font: italic 400 24px "Alegreya";
  color: hsl(0, 0%, 40%);
  line-height: 25px;
}

div.content div.left div.mark {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  font: 400 32px "List Icon";
  text-align: center;
}

div.content div.left div.mark span.wrong {
  color: hsl(330, 60%, 60%);
  display: none;
}

div.content div.left div.mark span.correct {
  color: hsl(120, 50%, 45%);
  display: none;
}