@charset "utf-8";


@font-face {
  font-family: "Alegreya";
  src: url("../material/font/3.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/4.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/5.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6g.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/6.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaGrEBBsBhlBjvfkSpa4r3Owp4.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 98%);
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

div.content {
  margin: 40px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.content div.problem {
  margin: 0px 30px 40px 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

div.content div.problem div.left,
div.content div.problem div.right,
div.content div.problem div.answer,
div.content div.problem div.operator,
div.content div.problem div.equal {
  margin: 0px 10px;
  padding: 0px;
  text-align: center;
}

div.content div.problem div.left input[type="text"],
div.content div.problem div.right input[type="text"],
div.content div.problem div.answer div {
  width: 240px;
  height: 150px;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px;
  font: 700 100px "Alegreya";
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: hsl(240, 60%, 60%);
  line-height: 150px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  border: none;
  outline: none;
}

div.content div.problem div.left div.radio input[type="radio"],
div.content div.problem div.right div.radio input[type="radio"] {
  display: none;
}

div.content div.problem div.left div.radio input[type="radio"] +label,
div.content div.problem div.right div.radio input[type="radio"] +label {
  margin: 0px;
  padding: 0px 0px 0px 18px;
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.5;
  position: relative;
}

div.content div.problem div.left div.radio input[type="radio"] +label::before, 
div.content div.problem div.right div.radio input[type="radio"] +label::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.problem div.left div.radio input[type="radio"]:checked +label::after,
div.content div.problem div.right div.radio input[type="radio"]:checked +label::after {
  width: 7px;
  height: 7px;
  background: hsl(240, 60%, 60%);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.problem div.operator input[type="button"],
div.content div.problem div.equal input[type="button"] {
  width: 100px;
  height: 100px;
  margin: 25px 0px 0px 0px;
  padding: 0px;
  font: 400 64px "Alegreya";
  color: white;
  line-height: 32px;
  background-color: hsl(240, 60%, 60%);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px hsla(240, 80%, 40%, 0.2);
  cursor: pointer;
  outline: none;
  display: inline-block;
}

div.content div.show {
  margin: 0px auto 5px auto;
  padding: 0px;
  text-align: center;
}

div.content div.show button {
  margin: 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: hsl(240, 60%, 60%);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

div.content div.table-container {
  margin: 0px auto;
  padding: 20px 50px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: none;
}

div.content div.table-container table {
  margin: 0px auto;
  padding: 0px;
  borde-radius: 10px;
  border-collapse: separate;
  border-spacing: 0px;
}

div.content div.table-container table tr th,
div.content div.table-container table tr td {
  width: 45px;
  font: 400 24px "Alegreya";
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  color: hsl(0, 0%, 40%);
  line-height: 32px;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  border-right: 1px hsl(0, 0%, 90%) solid;
}

div.content div.table-container table tr th {
  font-weight: normal;
  background-color: hsl(0, 0%, 90%);
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  border-right: 1px hsl(0, 0%, 90%) solid;
}

div.content div.table-container table tr:first-child th:first-child {
  border-radius: 10px 0px 0px 0px;
}

div.content div.table-container table tr:first-child th:last-child {
  border-radius: 0px 10px 0px 0px;
}

div.content div.table-container table tr:last-child th:first-child {
  border-radius: 0px 0px 0px 10px;
}

div.content div.table-container table tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}