@charset "utf-8";

@import "8v.scss";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");


body {
  @include no-scrollbar;
  @include text-size-adjust;
  margin: 0px;
  padding: 0px;
  font-family: $serif-font-family;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background: $main-background;
  background-attachment: fixed;
}


div.top {
  @include transparent-border;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: transparent;
  background-attachment: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  div.header {
    width: $main-width;
    margin: 100px auto 0px auto;
    padding: 0px;
    @include small-screen {
      width: $small-main-width;
    }
  }

  div.header div.title {
    margin: 0px;
    padding: 0px;
    font-family: $special-font-family;
    font-size: $title-font-size;
    color: $title-color;
    filter: $title-filter;
  }

  div.header div.caption {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    font-family: $gilit-font-family;
    font-size: $caption-font-size;
    color: $caption-color;
  }

  div.header div.caption span {
    display: inline-block;
  }

  div.card-wrapper {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.card {
    width: $main-width;
    margin: 0px auto 0px auto;
    padding: 0px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    @include small-screen {
      width: $small-main-width;
    }
  }

  div.card a.item {
    margin: 0px;
    padding: 0px;
    color: $card-color;
    text-decoration: none;
    border-radius: $card-border-radius;
    filter: $box-filter;
    display: block;
  }

  div.card a.item:hover {
    cursor: pointer;
  }

  div.card a.item#course {
    grid-row: 1;
    grid-column: 1;
  }

  div.card a.item#database {
    grid-row: 2;
    grid-column: 1;
  }

  div.card a.item#translation {
    grid-row: 1;
    grid-column: 2;
  }

  div.card a.item#work {
    grid-row: 2;
    grid-column: 2;
  }

  div.card a.item#theory {
    grid-row: 1;
    grid-column: 3;
  }

  div.card a.item#diary {
    grid-row: 2;
    grid-column: 3;
  }

  div.card a.item div.title {
    height: $card-title-height;
    margin: 0px;
    padding: 0px 25px;
    border-radius: $card-border-radius $card-border-radius 0px 0px;
    background-color: $card-title-background-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    transition: background-color 0.2s ease-in-out;
  }

  div.card a.item:hover div.title {
    background-color: multiply-alpha($hovered-card-header-background-color, 1.25);
  }

  div.card a.item div.title div.japanese {
    margin: 0px;
    padding: 0px;
    font-size: $card-title-font-size;
    color: $card-title-color;
    position: relative;
    z-index: 2;
  }

  div.card a.item div.title div.shaleian {
    margin: 0px;
    padding: 0px;
    font-family: $gilit-font-family;
    font-size: $card-title-font-size;
    color: $card-title-shaleian-color;
    position: absolute;
    bottom: 5px;
    z-index: 1;
  }

  div.card a.item div.explanation {
    height: calc(100% - #{$card-title-height});
    margin: 0px;
    padding: 15px 25px;
    font-size: $font-size;
    line-height: $line-height;
    text-align: justify;
    border-radius: 0px 0px $card-border-radius $card-border-radius;
    background-color: $card-background-color;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
  }

  div.card a.item:hover div.explanation {
    background-color: multiply-alpha($card-background-color, 1.25);
  }

  div.arrow {
    @include no-shrink($arrow-height);
    margin: 0px;
    padding: 0px;
    height: $arrow-height;
  }

  div.arrow div.tip {
    margin: 0px auto;
    margin-top: ($arrow-height - $tip-size) / 2;
    padding: 0px;
    width: 0px;
    height: 0px;
    border: $tip-size solid;
    border-color: $introduction-background-color transparent transparent transparent;
    filter: $small-box-filter;
  }

}


div.introduction {
  @include transparent-border;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: $introduction-background-color;
  filter: $box-filter;
  box-sizing: border-box;

  div.header {
    width: $main-width;
    height: $introduction-header-font-size * 1.3;
    margin: 100px auto 0px auto;
    padding: 0px;
    position: relative;
    @include small-screen {
      width: $small-main-width;
    }
  }

  div.header div.japanese {
    font-family: $serif-font-family;
    font-size: $introduction-header-font-size;
    color: $introduction-header-color;
    letter-spacing: 0.15em;
    position: absolute;
    top: 0px;
    z-index: 2;
  }

  div.header div.shaleian {
    font-family: $gilit-font-family;
    font-size: $introduction-header-font-size * 0.8;
    color: multiply-alpha($introduction-header-color, 0.2);
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }

  div.content {
    margin: 80px 0px 100px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  div.content div.explanation {
    margin: 0px;
    margin-left: calc((100% - #{$main-width}) / 2);
    margin-right: 50px;
    padding: 0px;
    flex: 5;
    @include small-screen {
      margin-left: calc((100% - #{$small-main-width}) / 2);
    }
  }

  div.content div.explanation p {
    margin: 15px 0px;
    padding: 0px;
    font-size: $font-size;
    color: $explanation-color;
    line-height: $explanation-line-height;
    text-align: justify;
  }

  div.content div.sample {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: calc((100% - #{$main-width}) / 2);
    border-radius: $sample-border-radius 0px 0px $sample-border-radius;
    background: $main-background;
    background-attachment: fixed;
    flex: 4;
    @include small-screen {
      padding-right: calc((100% - #{$small-main-width}) / 2);
    }
  }

  div.content div.sample p {
    margin: 15px 0px;
    padding: 0px;
    font-family: $vekos-font-family;
    font-size: 22px;
    color: $sample-color;
    line-height: $sample-line-height;
    text-align: justify;
  }

  div.arrow {
    @include no-shrink($arrow-height);
    margin: 0px;
    padding: 0px;
    height: $arrow-height;
  }

}


div.other {
  @include transparent-border;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  background-attachment: fixed;
  box-sizing: border-box;

  div.content {
    width: $main-width;
    margin: 100px auto 0px auto;
    display: flex;
    @include small-screen {
      width: $small-main-width;
    }
  }

  div.content div.column div.header {
    height: $other-header-font-size * 1.3;
    margin: 0px auto 30px auto;
    padding: 0px;
    position: relative;
  }

  div.content div.column div.header div.japanese {
    font-family: $serif-font-family;
    font-size: $other-header-font-size;
    color: $other-header-color;
    letter-spacing: 0.15em;
    position: absolute;
    top: 0px;
    z-index: 2;
  }

  div.content div.column div.header div.shaleian {
    font-family: $gilit-font-family;
    font-size: $other-header-font-size * 0.8;
    color: multiply-alpha($other-header-color, 0.2);
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }

  div.content div.contact {
    margin: 0px 50px 0px 0px;
    padding: 0px;
    flex: 5;
  }

  div.content div.contact div.table {
    margin: 0px 0px 100px 0px;
    padding: 0px;
  }

  div.content div.contact div.table div.row {
    margin: 20px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }

  div.content div.contact div.table div.row a.icon {
    width: $icon-font-size;
    height: $icon-font-size;
    font-family: $footer-icon-font-family;
    font-size: $icon-font-size;
    text-decoration: none;
    text-align: center;
    color: $card-title-background-color;
    filter: $small-box-filter;
    transition: color 0.2s ease-in-out;
  }

  div.content div.contact div.table div.row a.icon:hover {
    color: multiply-alpha($hovered-card-header-background-color, 1.25);
  }

  div.content div.contact div.table div.row a.icon.twitter::before {
    content: "\F000";
  }

  div.content div.contact div.table div.row a.icon.youtube::before {
    content: "\F001";
  }

  div.content div.contact div.table div.row a.icon.github::before {
    content: "\F003";
  }

  div.content div.contact div.table div.row div.explanation {
    margin: 0px 0px 0px 20px;
    padding: 0px; 
    font-size: $font-size;
    color: $other-color;
    line-height: $line-height;
  }

  div.content div.log {
    margin: 0px 0px 0px 50px;
    padding: 0px;
    flex: 4;
  }

  div.content div.log >ul {
    margin: 0px 0px 100px 0px;
    padding: 0px;
    font-size: $font-size;
    color: $other-color;
    line-height: $line-height;
    list-style-type: none;
  }

  div.content div.log >ul span.date {
    font-size: 80%;
    display: block;
  }

  div.content div.log >ul li {
    margin: 10px 0px;
    padding: 0px;
    display: block;
  }

  div.content div.log >ul li a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  div.content div.log >ul li a:hover {
    color: $hovered-link-color;
  }

  div.content div.log >ul li ul.breadcrumb {
    list-style-type: none;
  }

  div.content div.log >ul li ul.breadcrumb li {
    display: inline;
  }

  div.content div.log >ul li ul.breadcrumb li::after {
    margin: 0px 0.4em;
    padding: 0px;
    font-family: $list-icon-font-family;
    font-size: 80%;
    content: "\F003";
  }

  div.content div.log >ul li ul.breadcrumb li:last-child::after {
    display: none;
  }

  div.content div.log >ul li ul.breadcrumb li:first-child {
    display: none;
  }

}