@charset "utf-8";


@function stripe-gradient($first-color, $second-color, $angle, $space) {
  @return repeating-linear-gradient($angle, $first-color $space, $second-color $space, $second-color $space * 2, $first-color $space * 2, $first-color $space * 3, $second-color $space * 3);
}

@function multiply-alpha($color, $ratio) {
  $new-alpha: alpha($color) * $ratio;
  @return rgba($color, $new-alpha);
}

@function adjust($size) {
  $new-size: 100vw * $size / 1920px;
  @return $new-size;
}


// 基本色相
$primary-hue: 230;
$secondary-hue: 200;
$hovered-hue: 110;

// 背景 > メインエリア
$main-background: stripe-gradient(hsl($primary-hue, 30%, 25%), hsl($primary-hue, 30%, 26%), -45deg, 10px);

// 背景色 > カード
$card-background-color: rgba(white, 0.5);
// 背景色 > カードのタイトル
$card-title-background-color: hsla($secondary-hue, 100%, 92%, 0.7);
$hovered-card-title-background-color: hsla($hovered-hue, 85%, 92%, 0.7);
// 背景色 > 概要
$introduction-background-color: hsla($secondary-hue, 100%, 92%, 0.7);
// 背景色 > アイコン
$icon-background-color: hsla($secondary-hue, 100%, 92%, 0.6);
$hovered-icon-background-color: hsla($hovered-hue, 85%, 92%, 0.6);

// テキスト色 > ページタイトル
$title-color: rgba(white, 0.4);
// テキスト色 > ページタイトル下のキャプション
$caption-color: rgba(white, 0.2);
// テキスト色 > カード
$card-color: black;
// テキスト色 > カードのタイトル
$card-title-color: black;
// テキスト色 > カードのタイトルのシャレイア語表記
$card-title-shaleian-color: rgba(white, 0.2);
// テキスト色 > 概要のヘッダ
$introduction-header-color: hsl($primary-hue, 30%, 35%);
// テキスト色 > 概要の説明
$explanation-color: black;
// テキスト色 > 概要のリンク
$explanation-link-color: hsl($primary-hue, 30%, 35%);
// テキスト色 > 概要のサンプルテキスト
$sample-color: rgba(white, 0.6);
// テキスト色 > 単語数
$count-color: hsla($secondary-hue, 100%, 92%, 0.6);
// テキスト色 > その他のヘッダ
$other-header-color: rgba(white, 0.6);
// テキスト色 > その他
$other-color: rgba(white, 0.6);
// テキスト色 > リンク
$link-color: hsla($secondary-hue, 100%, 92%, 0.6);
$hovered-link-color: hsla($hovered-hue, 85%, 92%, 0.6);

// 罫線色 > 区切り線
$separator-border-color: hsla($secondary-hue, 100%, 90%, 0.3);

// フォントサイズ > 全体
$font-size: 18px;
$sans-font-size: 96%;
// フォントサイズ > ページタイトル
$title-font-size: 120px;
// フォントサイズ > ページタイトル下のキャプション
$caption-font-size: 30px;
// フォントサイズ > カードのタイトル
$card-title-font-size: 24px;
// フォントサイズ > 概要のヘッダ
$introduction-header-font-size: 52px;
// フォントサイズ > その他のヘッダ
$other-header-font-size: 32px;
// フォントサイズ > 単語数
$count-font-size: 96px;
// フォントサイズ > アイコン
$icon-font-size: 64px;

// 行の高さ > 全体
$line-height: 1.8;
// 行の高さ > 概要の説明
$explanation-line-height: 1.8;
// 行の高さ > 概要のサンプルテキスト
$sample-line-height: 1.6;

// 余白 > メインエリア
$main-horizontal-padding: 50px;

// 罫線半径 > カード
$card-border-radius: 10px;
// 罫線半径 > 概要のサンプルテキスト
$sample-border-radius: 10px;

// 大きさ > 全体
$main-width: 1200px;
$small-main-width: 90vw;
// 大きさ > カード
$card-title-height: 50px;
// 大きさ > 矢印エリア
$arrow-height: 35px;
// 大きさ > 矢印本体
$tip-size: 20px;

// その他
$small-smartphone-ratio: 0.8;

// 影 > ボックス
$box-shadow: 0px 4px 8px rgba($card-background-color, 0.2);

// フォントファミリー
$serif-font-family: "Times New Roman", "Times", "IPA P明朝", "IPAex明朝", "YuMincho", "Yu Mincho", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$sans-font-family: "Arial", "IPA Pゴシック", "IPAexゴシック", "YuGothic", "Yu Gothic", "ＭＳ Ｐゴシック", "ＭＳ ゴシック", sans-serif;
$vekos-font-family: "Vekos Web";
$gilit-font-family: "Gilit Web";
$special-font-family: "Abril Fatface";
$footer-icon-font-family: "Footer Icon";
$list-icon-font-family: "List Icon";


@mixin shrink($height) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: $height;
}

@mixin no-shrink($height) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $height;
}

@mixin transparent-border {
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
  border-left: 0px;
  border-right: 0px;
}

@mixin grid-position($default, $smartphone, $small-smartphone) {
  grid-row: nth($default, 1);
  grid-column: nth($default, 2);
  @include smartphone {
    grid-row: nth($smartphone, 1);
    grid-column: nth($smartphone, 2);
  }
  @include small-smartphone {
    grid-row: nth($small-smartphone, 1);
    grid-column: nth($small-smartphone, 2);
  }
}

@mixin small-screen {
  @media screen and (max-width: $main-width + $main-horizontal-padding * 2) {
    @content;
  }
}

@mixin smartphone {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin small-smartphone {
  @media screen and (max-width: 640px) {
    @content;
  }
}